.search-bar {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid var(--medium-grey);
    border-radius: 5px;
    font-size: 1rem;
  }
  